@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap');
.header{
    min-height: 80px;
    max-height: 80px;
    background: #fff !important;;
    font-family: 'Lato', sans-serif;

}
.toolbar{
    width: 80%;
    margin: auto;
    font-family: 'Lato', sans-serif;
}
.logo {
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 60px;
    padding: 30px 0px;
    max-height: 60px;
}
.navigation-bar{
    top:0;
    bottom:0;
    left:0;
    right:0;
    padding: 40px;
    font-family: 'Lato', sans-serif;
    float: right;
}

.navigation-bar button{
    color: Red
    
}